<!DOCTYPE html>
<html>

<head>
    <title>メンテナンス中です｜X TABLE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            padding: 0;
            margin: 0;
            overflow: hidden
        }

        iframe {
            border: 0;
            overflow: hidden;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0
        }
    </style>
</head>

<body> <iframe src="{{ cons_s3_maintain_url }}" /></body>

</html>
