<source>
  @type tail
  tag codedeploy.deployment
  format none
  path /opt/codedeploy-agent/deployment-root/deployment-logs/codedeploy-agent-deployments.log
  pos_file /var/lib/google-fluentd/pos/codedeploy-deployment.pos
</source>

<source>
  @type tail
  tag codedeploy.agent
  format multiline
  format_firstline /^\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}/
  format1 /^(?<time>[^ ]+ [^ ]+) (?<level>[^ ]+) (?<message>.*)$/
  time_format %Y-%m-%d %H:%M:%S
  path /var/log/aws/codedeploy-agent/codedeploy-agent.log
  pos_file /var/lib/google-fluentd/pos/codedeploy-agent.pos
</source>
